{
  "plugins": ["prettier-plugin-solidity"],
  "overrides": [
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "tabWidth": 2,
        "printWidth": 100,
        "trailingComma": "all",
        "singleQuote": true
      }
    },
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "printWidth": 80,
        "compiler": "0.8.17"
      }
    }
  ]
}
