# This workflow will do a clean install of node dependencies, cache/restore them, build the contract abis + JSON interfaces and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: Node.js CI - Build + Test

on:
  push:
    branches:
      - "develop"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: implementations

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: '16' # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
          cache: "npm"

      - name: Install Truffle
        run: npm install truffle -g

      - name: Install dependencies
        run: npm install

      - name: Run Solium Linter
        run: npm lint

      - name: Compile contracts
        run: truffle compile --all

      - name: Run Tests
        run: npm test
